<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="container sections-wrapper">
      <div class="row">
        <div class="primary col-md-8 col-sm-12 col-xs-12">
          {{ content }}
        </div>
        <div class="secondary col-md-4 col-sm-12 col-xs-12">
          <div class="section">
            <div class="section-inner">
              <ul class="nav nav-pills nav-stacked">
                <li role="presentation" class="{% if page.url == '/' %}active{% endif %}">
                  <a href="{{ '/' | prepend: site.baseurl }}">Info</a>
                </li>
              {% for post in site.posts %}
                <li role="presentation" class="{% if page.url == post.url %}active{% endif %}">
                  <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
                </li>
              {% endfor %}
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    {% include footer.html %}

    {% include ga.html %}
  </body>

</html>
