<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="container sections-wrapper">
      <div class="row">
        <div class="primary col-md-8 col-sm-12 col-xs-12">
          {{ content }}
        </div>
        <div class="secondary col-md-4 col-sm-12 col-xs-12">
          {% include about.html %}
          {% include contact.html %}
          {% include education.html %}
        </div>
      </div>
    </div>

    {% include footer.html %}

    {% include ga.html %}
  </body>

</html>
