<section class="about section">
  <div class="section-inner">
    <h2 class="heading">About</h2>
    <div class="content">
      <p>I am an Assistant Professor of <a href="http://www.guilford.edu/academics/departments-and-programs/psychology/index.aspx">Psychology</a> at <a href="http://www.guilford.edu">Guilford College.</a>  I love psychology, and I'm especially interested in sexual orientation, family lives, and sexual and reproductive health.  Some of my courses are cross-listed with Guilford's <a href="http://www.guilford.edu/academics/departments-and-programs/womens-gender-sexuality-studies/index.aspx">Women, Gender, and Sexuality Studies</a> program, and I teach many <a href="http://www.guilford.edu/academics/departments-and-programs/psychology/index.aspx">Psychology</a> and <a href="http://www.guilford.edu/academics/departments-and-programs/health-sciences/pre-health-professions/index.aspx">Health Sciences</a> majors.</p>
    </div>
  </div>
</section>
