<header class="header">
    <div class="container">
        <img class="profile-image img-responsive pull-left" src="{{ '/images/rachel.jpg' | prepend: site.baseurl }}" alt="Rachel Riskind" style="max-width: 300px; max-height: 300px; border-radius: 50%;" />
        <div class="profile-content pull-left">
            <h1 class="name">Rachel Riskind</h1>
            <h2 class="desc">Assistant professor of psychology</h2>
            <ul class="social list-inline">
                <li><a href="http://twitter.com/rachelriskind"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
            </ul>
        </div><!--//profile-->
        <a class="btn btn-cta-primary pull-right" href="mailto:riskindrg@guilford.edu" target="_blank"><i class="fa fa-paper-plane"></i> Contact Me</a>
    </div><!--//container-->
</header><!--//header-->
