<header class="header">
  <div class="container">
    <div class="row profile">
      <img class="profile-image img-responsive pull-left" src="{{ '/images/rachel.jpg' | prepend: site.baseurl }}" alt="Rachel G. Riskind" style="max-height: 180px; border-radius: 50%;" />
      <div class="profile-content pull-left">
        <h1 class="name">Rachel G. Riskind</h1>
        <h2 class="desc">Assistant Professor of Psychology</h2>
        <ul class="social list-inline">
          <li><a href="http://twitter.com/rachelriskind"><i class="fa fa-twitter"></i></a></li>
          <li><a href="https://www.linkedin.com/in/rachelriskind"><i class="fa fa-linkedin"></i></a></li>
          <li><a href="@rachel.riskind"><i class="fa fa-skype"></i></a></li>
        </ul>
      </div>
      <a class="btn btn-cta-primary pull-right" href="mailto:riskindrg@guilford.edu" target="_blank">
        <i class="fa fa-paper-plane"></i> Contact Me
      </a>
    </div>
  </div>
</header>
